# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints

# Virtualenv
venv/
.env
.venv

# OS
.DS_Store

# IDEs
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
uv.lock
uv.lock
answers/*.zip
